/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

/* .buttonsone_src-pages-index-module {
  display: block;
  float: left;
  left: 37%;
  position: relative;
} */

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;

}
.mybuttonstyle{
  margin-left: 20px;
 }

.function_Introduction{
  font-size: 32px;
  text-align: center;
  color: #314694;
}
.function_background{
  background-color: #f3f4f6;
  width: 100%;
  height: 426px;
}
.container_backgraund{
  background-color: #fff;
  width: 100%;
  height: 426px;
}
.function_background .features {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: stretch;
  justify-content: center;
  overflow: hidden;
  margin: 0 -2rem;
  padding: 1.2rem 0;
  border-top: 1px solid var(--border-color);}
/* @media (min-width: 1440px) */
.function_background .feature {
    flex-basis: calc(25% - 4rem);
}
.features{
  float: left;
}
.features h2{
  position: relative;
  flex-basis: calc(33% - 4rem);
  overflow: hidden;
  margin: 0.5rem;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  text-align: center;
  transition: transform .3s,box-shadow .3s;
  color: #3a5169;
}
.features p{
  color: #476582;
  line-height: 1.4;
}
/* 底部学校信息展示 ? */
.sponsoronly{
  width: 100%;
  height: 149px;
  background-color: #f5f5f5;
}
/* logo大小 */
.myimg{
   width: 230px;
   height: 7px;
}
/* footer开始 */
.footermy{
  width: 100%;
  background: #314694;
  padding: 0 2%;
  padding-bottom: 23px;
}
.logoone{
  width: 148px;
  height: 33px;
  margin-top: 32px;
}
.footermy .relevant {
  display: flex;
  justify-content: space-between;
  align-items: center;}

  .footermy .relevant .relevant_left{
    display: flex;
    flex-wrap: wrap;
}

.footermy .relevant .relevant_left>div {
  position: relative;
  margin-right: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.footermy .relevant .relevant_right{
  width: 136px;
  height: 40px;
  background: #f1f6fd;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footermy .company {
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
}

.footermy .line{
  width: 100%;
  height: 1px;
  background: #fff;
  opacity: .13;
  border-radius: 1px;
  margin-top: 17px;
}

.footermy .relevant_left>div span {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  margin-left: 20px;
}
.relevant_right{
  width: 136px;
  height: 40px;
  background: #f1f6fd;
  text-align: center;
  line-height: 40px;
  justify-content: center;
  align-items: center;
}

/* footer结束 */